<!DOCTYPE html>
<html>
<head>
    <title>Add Medicine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="header">
    <h1>💊 AI Medical Reminder</h1>
</div>

<div class="container">

    <div class="card">

        <h2>➕ Add Medicine</h2>

        <form method="POST">

            <label><b>Medicine Name</b></label>
            <input type="text"
                   name="medicine_name"
                   placeholder="Enter Medicine Name"
                   required>

            <label><b>Dosage</b></label>
            <input type="text"
                   name="dosage"
                   placeholder="Example: 500 mg / 1 Tablet"
                   required>

            <label><b>Medicine Time</b></label>
            <input type="time"
                   name="medicine_time"
                   required>

            <label><b>Start Date</b></label>
            <input type="date"
                   name="start_date"
                   required>

            <label><b>End Date</b></label>
            <input type="date"
                   name="end_date"
                   required>

            <button type="submit">
                💾 Save Medicine
            </button>

        </form>

        <br>

        <center>
            <a href="/dashboard">⬅ Back to Dashboard</a>
        </center>

    </div>

    <div class="footer">
        AI Based Medical Reminder System
    </div>

</div>

</body>
</html>